@media all and (max-width: 768px) {
    .main-nav ul {
        display: none;
    }

    .main-nav label {
        display: block;
        text-align: right;
    }

    .main-nav #menu:checked + ul {
        display: block;
    }

    .portfolio-inner a {
        flex-basis: 100%;
    }

    #contact form {
        width: 90%;
    }

    #contact form input {
        flex-basis: 100%;
    }

    #about figure {
        max-width: 300px;
        max-height: 300px;
    }
}
